#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-layout__container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.custom-select__section {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
  padding: 2em;
}

.select-result {
  padding: 2em;
  font-size: x-large;
}
